<% include partials/head.ejs %>
<h2>New User</h2> 
<form action='/create' method='post'>
الاسم :<input type='text' name='name'>
البريد :<input type='text' name='email'>
<input type='submit' value='create'>
</form>
<% include partials/footer.ejs %>
