<% include partials/head.ejs %>

<h2>Welcome to Forms in Express.js</h2>
<h3>Welcome <%= name %>:</h3>
<p>Your name is :<%= name %></p>
<p>Your Email is :<%= email %></p>

<% include partials/footer.ejs %>



